.topbarContainer{
    height: 60px;
    background-color: #1a3e6d;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 25px !important;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter{
    flex: 5;
}

.searchbar{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 25px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 80%;
    font-size: 15px;
}

.searchInput:focus{
    outline: none;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImgBorder{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    background-color: #1a3e6d;
    border: 2.5px solid #b3cff4;
}

.topbarImg{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
}

@media screen and (max-width: 768px){
    .topbarContainer{
        height: 60px;
    }
    .logo{
        font-size: 20px !important;
        margin-left: 20px;
    }
};

@media screen and (max-width: 684px){
    .topbarImgBorder{
        width: 30px;
        height: 30px;
    }
    
    .topbarImg{
        width: 24px;
        height: 24px;
        top: 2px;
        left: 2px;
    }
    .topbarIconItem{
        display: none;
    }
}