.feed{
    flex: 5.5;
}


.feedWrapper{
    padding: 20px;
}

@media screen and (max-width: 768px){
    .feed{
        width: 500px;
    }
}

@media screen and (min-width: 684px){
    .feed{
        width: 60%;
    }
}